@game-details-highlight-color: #484b50;
@game-details-screenshot-height: 400px;
@game-details-price-height: 32px;
@game-details-media-height: 400px;
@similar-games-carousel-height: 200px;

.game-details {

    .background-container {
        height: @game-details-screenshot-height;

        .filter {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            width: calc(100% + 1px);
            height: @game-details-screenshot-height;
            background: linear-gradient(to top, #171a21 10%, transparent 40%);
        }
    }

    .cover-discount {
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        background-color: #228b22;
        opacity: .7;
        font-size: 20px;
    }

    .cover-info {
        background: linear-gradient(to right, rgba(black,0.0) 0%, rgba(black,0.5) 5%, rgba(black,0.5) 76%,rgba(black,0.0) 100%);
    }

    .game-info {
    
        .game-notifications-btn {

            &.enabled, &.enabled:hover {
                color: white !important;
                background-color: #842020!important;
            }

            &.disabled, &.disabled:hover {
                color: white !important;
                background-color: #308420!important;
            }
        }

        .pricing {
            position: relative;
            height: 50px;
            margin-bottom: 30px;
            
            .price {
                position: absolute;
                bottom: -20px;
                right: 25px;
                width: 100px;
                border-radius: 0px;
                background-color: #308420;
                text-align: center;
                vertical-align: middle;
                line-height: 36px;
                font-weight: bold;
                color: rgba(white,0.7);

                .price-container {
                    font-size: 0.8rem;
                }

                del {
                    opacity: 0.5;
                    font-size: 0.7rem;
                }
            }

            img {
                object-fit: cover;
                outline: 2px solid rgb(48, 132, 32);
            }
         }
    
        .platforms, .genres {
    
            .platform, .genre {
                color: rgba(white, 0.6);
                font-size: 0.65rem;
                min-width: unset!important;
                min-height: unset!important;
                background-color: @game-details-highlight-color;
                color: white!important;
            }
        }
        
        .multiplayer {
            cursor: default;
            line-height: 40px;
            border-radius: 10px;
            color: rgba(white, .6);
            box-shadow: 0 0 0pt 2pt rgba(white, .6);   
        }
    }

    .media-carousel {

        .slick-slider {
            margin-bottom: 0px!important;
        }

        .slick-dots {
            position: relative!important;
            bottom: -10px!important;

            li {
                margin: 5px 8px!important;
                width: 40px!important;
                height: 40px!important;
            }

            .slick-active {
                img {
                    border: 2px solid @tertiary-color;
                }
            }

            .video-preview-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url("https://i.imgur.com/Pk4pw6i.png");
                background-repeat: no-repeat;
            }
        }

        .slick-track, img {
            height: auto!important;
        }

        .aspect-ratio {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56%;

            iframe {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
        }

    }

    .similar-games-carousel-container {
     
        .similar-games-carousel-header {
            color: @tertiary-color;
            font-size: 1.15rem;
    
            &::before {
                position: absolute;
                bottom: -3px;
                left: 0;
                content: "";
                height: 2px;
                width: 53px;
                background-color: rgba(31, 216, 77, 0.6);
            }
        }

        .similar-games-carousel {
            display: flex;
            align-items: center;
            justify-content: center;

            .similar-game {
                position: relative;
                overflow: hidden;

                > img {
                    height: @similar-games-carousel-height;
                    transition: all .3s ease-in;
                    -webkit-transition: all .3s ease-in;

                    &.active {
                        transform: scale(1.2);
                    }

                }

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: calc(100% + 1px);
                    height: 100%;
                    background: linear-gradient(to top, rgba(black,1) 0%, transparent 100%);
                    opacity: 0;
                    -moz-transition: opacity 0.3s;
                    -webkit-transition: opacity 0.3s;
                    -o-transition: opacity 0.3s;
                    transition: opacity 0.3s;

                    &.active {
                        opacity: 1;
                    }
                }

                .text-container {
                    position: absolute;
                    width: auto;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                    opacity: 0;
                    -moz-transition: opacity 0.3s;
                    -webkit-transition: opacity 0.3s;
                    -o-transition: opacity 0.3s;
                    transition: opacity 0.3s;

                    .name {
                        padding: 0 10px;
                    }

                    button {
                        color: white!important;
                        background-color: #308420!important;

                        &:hover {
                            background-color: #3c982a!important;
                        }
                    }

                    &.active {
                        opacity: 1;
                    }
                }

            }

            .prev {
                padding-right: 5px;
                opacity: 0.5;
            }

            .next {
                padding-left: 5px;
                opacity: 0.5;
            }

            .slick-list {
                width: calc(100% - 50px);
                display: inline-block!important;

                .slick-slide {
                    margin: 0px 10px;
                }

                &:after {
                    background: linear-gradient(to right, #171a21 10px, transparent 50px, transparent calc(100% - 50px), #171a21 calc(100% - 10px));
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    pointer-events: none;
                    content: " ";
                }
            }
        }
    }

}
