@game-details-highlight-color: #484b50;
@game-details-screenshot-height: 400px;
@game-details-price-height: 32px;
@game-details-media-height: 400px;
@similar-games-carousel-height: 140px;

.game-details {

    .background-container {
        height: @game-details-screenshot-height;

        .filter {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            width: calc(100% + 1px);
            height: @game-details-screenshot-height;
            background: linear-gradient(to top, #171a21 10%, transparent 40%);
        }
    }

    .cover-discount {
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        background-color: #228b22;
        opacity: .7;
        font-size: 20px;
    }

    .cover-info {
        background: linear-gradient(to right, rgba(black,0.0) 0%, rgba(black,0.5) 5%, rgba(black,0.5) 76%,rgba(black,0.0) 100%);
    }

    .game-info {
    
        .pricing {
            position: relative;
            height: 50px;
            margin-bottom: 30px;
            
            .price {
                position: absolute;
                bottom: -20px;
                right: 25px;
                width: 100px;
                border-radius: 0px;
                background-color: @tertiary-color;
                text-align: center;
                vertical-align: middle;
                line-height: 36px;
                font-weight: bold;
                color: rgba(black,0.6);

                .price-container {
                    font-size: 0.8rem;
                }

                del {
                    opacity: 0.5;
                    font-size: 0.7rem;
                }
            }

            img {
                object-fit: cover;
                outline: 2px solid rgba(@tertiary-color, 0.8);
            }
         }
    
        .platforms, .genres {
    
            .platform, .genre {
                color: rgba(white, 0.6);
                font-size: 0.65rem;
                min-width: unset!important;
                min-height: unset!important;
                background-color: @game-details-highlight-color;
                color: white!important;
            }
        }
    }

    .media-carousel {

        .slick-slider {
            margin-bottom: 0px!important;
        }

        .slick-dots {
            position: relative!important;
            bottom: -10px!important;

            li {
                margin: 5px 8px!important;
                width: 40px!important;
                height: 40px!important;
            }

            .slick-active {
                img {
                    border: 2px solid @tertiary-color;
                }
            }

            .video-preview-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url("https://i.imgur.com/Pk4pw6i.png");
                background-repeat: no-repeat;
            }
        }

        .slick-track, img {
            height: auto!important;
        }

        .aspect-ratio {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56%;

            iframe {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
        }

    }

    .similar-games-carousel-container {
     
        .similar-games-carousel-header {
            color: @tertiary-color;
            font-size: 1.15rem;
    
            &::before {
                position: absolute;
                bottom: -3px;
                left: 0;
                content: "";
                height: 2px;
                width: 53px;
                background-color: rgba(31, 216, 77, 0.6);
            }
        }

        .similar-games-carousel {
            display: flex;
            align-items: center;
            justify-content: center;

            .similar-game {
    
                > img {
                    height: @similar-games-carousel-height;
                }
            }

            .prev {
                padding-right: 5px;
            }

            .next {
                padding-left: 5px;
            }

            .slick-list {
                width: calc(100% - 50px);
                display: inline-block!important;

                &:after {
                    background: linear-gradient(to right, #171a21 10px, transparent 50px, transparent calc(100% - 50px), #171a21 calc(100% - 10px));
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    pointer-events: none;
                    content: " ";
                }
            }
        }
    }

}