# Config files
config.ts
database.json

# Dependency directory
node_modules

# Ignore built ts files
dist/**/*

# Ignore SSL keys and certificates
certificate.crt
key.pem
bundle.ca-bundle

# Ignore nodejs debug logs
npm-debug.log.*

# Coverage reports
.nyc_output/*
coverage
coverage.lcov

# Readme
README.md
