.primary-shadow {
    box-shadow: 0 4px 3px 0 rgba(@primary-color,.2),0 1px 1px 0 rgba(@primary-color,.14),0 2px 1px 0 rgba(@primary-color,.12)!important;
}

.secondary-shadow {
    box-shadow: 0 4px 3px 0 rgba(@secondary-color,.2),0 1px 1px 0 rgba(@secondary-color,.14),0 2px 1px 0 rgba(@secondary-color,.12)!important;
}

.hover-primary {
    &:hover {
        background-color: rgba(@primary-highlighted-color,0.5)!important;
    }
}

.hover-primary-solid {
    &:hover {
        background-color: rgba(@primary-highlighted-color,0.9)!important;
    }
}

.hover-tertiary-solid {
    &:hover {
        background-color: rgba(@tertiary-highlighted-color,0.9)!important;
    }
}

.bg-primary {
    background-color: rgba(@primary-color,0.5)!important;
}

.bg-primary-solid {
    background-color: @primary-color!important;
}

.bg-secondary {
    background-color: rgba(@secondary-color,0.5)!important;
}

.bg-secondary-solid {
    background-color: @secondary-color!important;
}

.bg-tertiary {
    background-color: @tertiary-color!important;
}

.bg-transparent {
    background-color: transparent !important;
}

.color-primary {
    color: @primary-color!important;
}

.color-secondary {
    color: @secondary-color!important;
}

.color-tertiary {
    color: @tertiary-color!important;
}

.font-secondary {
    font-family: @secondary-font!important;
}

.cursor-pointer {
    &, * {
        cursor: pointer;
    }
}

.btn-flat-bot-rad {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.y-scrollable {
    overflow-y: scroll;
}

.no-events {
    pointer-events: none!important;
}

.custom-scrollbar {
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: rgba(white, 0.15);
    }
    &::-webkit-scrollbar {
        width: 12px;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: @primary-color;
    }
}

.custom-scrollbar-slim {
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
        border-radius: 10px;
        background-color: rgba(white, 0.1);
    }
    &::-webkit-scrollbar {
        width: 7px;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #1f1f1f;
    }
}

.custom-account-form-group {
    > div {
        border-bottom: 1px solid rgba(@tertiary-color, 0.42)!important;

        &::before {
            border-bottom: 1px solid rgba(@tertiary-color, 0.42)!important;
        }
        &::after {
            border-bottom: 2px solid @tertiary-color!important;
        }
        &:hover::before {
            border-bottom: 2px solid rgba(@tertiary-color, 0.87)!important;
        }
        &:hover::after {
            border-bottom: 2px solid @tertiary-color!important;
        }
    }
    * {
        color: rgba(@tertiary-color, 0.7)!important;
    }
}

.custom-account-form-group-secondary {
    > div {
        border-bottom: 1px solid rgba(@secondary-color, 0.42)!important;

        &::before {
            border-bottom: 1px solid rgba(@secondary-color, 0.42)!important;
        }
        &::after {
            border-bottom: 2px solid @secondary-color!important;
        }
        &:hover::before {
            border-bottom: 2px solid rgba(@secondary-color, 0.87)!important;
        }
        &:hover::after {
            border-bottom: 2px solid @secondary-color!important;
        }
    }
    * {
        color: @secondary-color!important;
    }
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notfound {
    width: 200px;
    border-radius: 20px;
}

.stars {
    line-height: 40px;
}

.slider {

    * {
        background-color: @games-filter-color!important;
        box-shadow: none!important;
    }
}

.date-picker {

    input {
        width: 95px;
        height: 30px;
        background: transparent;
        border: solid 1px @games-filter-color;
        color: @games-filter-color;
        border-radius: 5px;
        text-align: center;

        &::placeholder {
            color: @games-filter-color;
            text-align: center;
        }
    }
}

.filter-select {
    border: 1px solid @games-filter-color;
    color: @games-filter-color!important;

    &:hover::before, &::after {
        border-bottom: none!important;
    }

    svg {
        color: @games-filter-color;
    }

}

.filter-multi-select {

    > label {
        color: @games-filter-color!important;
    }

    > div::before, > div::after {
        border-bottom: 2px solid @games-filter-color!important;
    }

    > div > div > div {
        padding-top: 0px;

        > div {
            display: flex;
            flex-wrap: wrap;
        }
        
    }

    svg {
        color: @games-filter-color;
    }

    span {
        font-size: 11px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .chip {
        background-color: @games-filter-color;
        display: flex;
        flex-wrap: wrap;
    }
}

.filter-checkbox {
    padding-bottom: 0;

    span {
        color: @games-filter-color!important;
        overflow: visible!important;
    }

    .check {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.footer {
    letter-spacing: 0.5px;
    color: #8bf94e;
    background: linear-gradient(to right, transparent 0%, #232323 10%, #232323 90%, transparent 100%);
    height: 40px;
    font-size: 16px;

    > div {
        margin: 8px 0;
    }

    > a {
        margin: 4px 0;
    }
}

.video-preview {
    object-fit: fill;

    &.in-grid {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-top: 0;   
    }
}

div[role=tooltip] {

    .tooltip-header {
        font-size: 1.1rem;
    }

    &> div{
        max-width: 500px !important;
    }
}