body {
  background-image: url(https://na.static.mega.co.nz/3/images/mega/noice-bg@2x.png);
  background-repeat: repeat;
  background-position: center center;
  font-family: source_sans_proregular, Arial;
}