.notfound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    opacity: 0.7;
    font-family: Tahoma, Geneva, sans-serif;

    .notfound-header {
        font-size: 6em;
        font-weight: 700;
    }

    .notfound-info {
        font-size: 1.5em;
        text-align: center;
    }

    .notfound-home-button {
        position: relative;
        display: block;
        background: transparent;
        border: 1px solid whitesmoke;
        border-radius: 10px;
        color: whitesmoke;
        opacity: 0.7;
        font-weight: bold;
        font-size: 1.5em;
        line-height: 1.75em;
        margin: 25px auto auto auto;
        width: 100%;
    }

    .notfound-home-icon {
        margin-right: 5px;
    }

}

.centered-page {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    opacity: 0.7;
    font-family: Tahoma, Geneva, sans-serif;

    .centered-page-info {
        font-size: 1.5em;
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
    }

    .centered-page-button {
        position: relative;
        display: block !important;
        width: 100%;
        border-radius: 10px;
        background-color: transparent !important;
        margin-top: 10px;

        span {
            font-size: 0.9em!important;
            letter-spacing: 1px!important;
            font-weight: 800!important;
        }

        > button {
            background-color: rgba(0, 0, 0, 0.2) !important;
            height: 50px !important;

            i {
                font-size: 1.5em !important;
            }
        }
    }

}