@import "checkboxSwitch";

@login-form-col: whitesmoke;
@login-logo-URL: url("https://i.imgur.com/obqCKhX.png");
@login-logo-width: 200px;
@login-logo-height: 200px;
@ribbon-primary-color: rgb(15, 48, 93);
@ribbon-secondary-color: rgba(0,0,0,0.35);

.account-page {

  .div-center {
    text-align: center;
  }

  .top-xs-padding {
    margin: 10px auto auto auto;
  }

  .top-sm-padding {
    margin: 16px auto auto auto;
  }

  .top-md-padding {
    margin: 20px auto auto auto;
  }

  .account-center {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .account-logo {
      background-image: @login-logo-URL;
      margin: auto;
      height: @login-logo-height;
      width: @login-logo-width;
      opacity: 0.85;
    }
  }

  .account-settings {
    padding: 15px;

    input {
      color: whitesmoke !important;
    }

    label {
      color: rgba(255, 255, 255, 0.35) !important;
    }

    hr {
      border-bottom: 2px solid rgba(255,255,255,0.2) !important;
    }

    .account-settings-title {
      text-align: center;

      .ribbon {
        position: relative;
        background: @ribbon-primary-color;
        display: block;
        width: 60%;
        margin: 0 auto;
        font-family: Source Sans Pro;
        text-align: center;
        z-index: 3;
        
        &:before {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 12px 12px 0;
            border-color: transparent @ribbon-secondary-color transparent transparent;
            left: -1px;
            bottom: -12px;
            z-index: 1;
        }
        &:after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 12px 12px 0 0;
            border-color: @ribbon-secondary-color transparent transparent transparent;
            right: -1px;
            bottom: -12px;
            z-index: 1;
        }
        .left-fold {
          background: @ribbon-secondary-color;
          position: absolute;
          height: 40px;
          width: 25px;
          left: -15px;
          bottom: -12px;
          display: block;
          margin: 0;
          border-right: 1px solid @ribbon-secondary-color;
          &:before {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 15px 20px 0;
            border-color: transparent @ribbon-secondary-color transparent transparent;
            left: -15px;
            top: 0;
          }
          &:after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 20px 15px;
            border-color: transparent transparent @ribbon-secondary-color transparent;
            left: -15px;
            bottom: 0;
          }
       }
        h1 {
          z-index: 2;
          position: relative;
          color: rgba(255,255,255,0.8);
          width: 100%;
          display: block;
          font-size: 1.3em;
          line-height: 1.7em;
          font-weight: 600;
          letter-spacing: 0.5px;
        }
        .right-fold {
          background: @ribbon-secondary-color;
          position: absolute;
          height: 40px;
          width: 25px;
          right: -15px;
          bottom: -12px;
          display: block;
          margin: 0;
          border-left: 1px solid @ribbon-secondary-color;
          &:before {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20px 15px 0 0;
            border-color:  @ribbon-secondary-color transparent transparent transparent;
            right: -15px;
            top: 0;
          }
          &:after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20px 0 0 15px;
            border-color: transparent transparent transparent @ribbon-secondary-color;
            right: -15px;
            bottom: 0;
          }
        }
      }
    }

    .account-settings-username, .account-settings-email {
      width: 60% !important;
      font-size: 1.2em !important;
    }

    .account-settings-container {
      position: relative;

      .account-settings-link {
        width: 45% !important;
        font-size: 1.2em !important;
      }
  
      .account-settings-link-icon {
        margin-right: 4%;
        color: rgb(15, 48, 93);
      }
  
      .account-settings-change {
        position: absolute;
        bottom: 0px;
        right: 0px;
        display: inline-block !important;
        margin-left: 10%;
        margin-bottom: 10px;
        width: 30% !important;
        background-color: transparent !important;
  
        > button {
          background-color: rgba(0, 0, 0, 0.3) !important;
        }
      }
    }

    .account-settings-hr {
      display: block;
      border: 0; 
      height: 1px;
      margin: 35px 0px 10px 0px;
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0),whitesmoke, rgba(255, 255, 255, 0));
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), whitesmoke, rgba(255, 255, 255, 0));
      background: -ms-linear-gradient(left, rgba(255, 255, 255, 0), whitesmoke, rgba(255, 255, 255, 0));
      background: -o-linear-gradient(left, rgba(255, 255, 255, 0), whitesmoke, rgba(255, 255, 255, 0));
      border-bottom: none !important;
    }

    .account-settings-logout {
      position: absolute;
      width: 100%;
      background-color: transparent !important;
      bottom: 0;
      left: 0;

      span {
        font-size: 1.2em !important; 
        letter-spacing: 3px !important; 
        font-weight: 700 !important;
      }

      > button {
        background-color: rgba(0, 0, 0, 0.3) !important;
        height: 60px !important;
      }
    }
  }

  .account-form {

    .underline {
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

    .account-form {
      position: relative;
      display: block;
      background: transparent;
      letter-spacing: 2px;
      font-family: Tahoma, Geneva, sans-serif;
      width: 60%;
      font-size: 1.2em;
      border-width: 0px 0px 2px 0px;
      color: transparent;
      text-shadow: 0 0 0 @login-form-col;
      transition: border-bottom 0.35s ease-in-out;
    }
  
    .account-form:focus {
      border-bottom: 1px solid @login-form-col;
    }
    
    .account-rememberme {
      opacity: 0.8;
    }

    input[type=checkbox]:checked.account-checkbox {
      background-color: transparent;
      box-shadow: inset 0 0 0 13px transparent;
      border: 1px solid whitesmoke;
    }

    .account-form-login, .account-form-create {
      display: block;
      background: transparent;
      letter-spacing: 2px;
      border: 1px solid @login-form-col;
      border-radius: 10px;
      color: @login-form-col;
      font-weight: bold;
      font-size: 1.6em;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
      border-bottom: 5px solid rgba(255, 255, 255, 0.85);
      width: 60%;
    }
  
    .account-form-signup, .account-form-back {
      position: relative;
      display: block;
      background: transparent;
      border: 1px solid @login-form-col;
      border-radius: 10px;
      color: @login-form-col;
      font-weight: bold;
      font-size: 1em;
      line-height: 32px;
      text-align: center;
      text-transform: uppercase;
      border-bottom: 5px solid rgba(255, 255, 255, 0.85);
      width: 35%;
    }
  
    button > i {
      margin-right: 10px;
    }
  
    ::-webkit-input-placeholder {
      color: @login-form-col;
      letter-spacing: 2px;
      opacity: 0.5;
      -webkit-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    :-moz-placeholder {
      color: @login-form-col;
      letter-spacing: 2px;
      opacity: 0.5;
      -moz-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    ::-moz-placeholder {
      color: @login-form-col;
      letter-spacing: 2px;
      opacity: 0.5;
      -moz-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    :-ms-input-placeholder {  
      color: @login-form-col;
      letter-spacing: 2px;
      opacity: 0.5;
      -ms-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
  
    :focus::-webkit-input-placeholder {
      opacity: 0;
      -webkit-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    :focus:-moz-placeholder {
      opacity: 0;
      -moz-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    :focus::-moz-placeholder {
      opacity: 0;
      -moz-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    :focus:-ms-input-placeholder {  
      opacity: 0;
      -ms-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
  
    input:focus, button:focus {
      outline: none;
    }
  
  }

  .account-icons {
    position: absolute;
    z-index: 10;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    
    .account-icon {
      margin: 0 20px 5px 20px;

      path {
        color: whitesmoke;
        opacity: 0.7;
        text-decoration: none;
        transition: all 0.4s ease-in-out;

        &:hover {
          opacity: 1.0;
        }
      }
    }
  }
}