@games-searchbar-icon-size: 32px;
@games-sidebar-width: 50px;
@games-hamburger-width: 30px;
@games-filter-color: @tertiary-color;
@games-sidebar-content-width: 300px;
@games-sidebar-color: #111215;

.games-page {
    height: -webkit-fill-available;

    .games-options {
        position: relative;
        color: rgba(@tertiary-color, 1.0);
        overflow: hidden;

        .show {
            position: absolute;
            right: 0px;
            top: 11px;
            font-size: 12px;
            color: @tertiary-color;
        }

        .underline {
            position: relative;
            height: 2px;
            background-color: rgb(41, 41, 41);
        }

        .games-options-grid {
            height: calc(100% - 50px);
            overflow-y: hidden;
            overflow-x: hidden;
        }

    }

    .pricey-games {
        display: table;
        table-layout: fixed;
        border-spacing: 10px;
        border-collapse: separate;

        .pricey-games-item {
            display: table-cell;

            @media @xl {
                display: block;
            }

            .pricey-games-label {
                color: @tertiary-color;
                font-size: 19px;
            }

            .grid-results {
                height: calc(720px - 28px);
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                overflow: hidden;

                & > div {
                    width: 215px;
                    height: 215px;
                    margin: 10px 10px;
                }

                .overlay {
                    height: calc(100% - 119px)!important;
                }
            }
        }
    }

    .highlighted-games-carousel {
        height: 15vw;

        .item {
            position: relative;

            .item-container {
                width: fit-content;
                margin: 0 auto;

                .image {

                }
    
                .screenshots {
                    width: 20vw;

                    .screenshot {
                        width: 50%;
                        height: 50%;
                        padding: 7px;

                        &:nth-child(1) {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        &:nth-child(2) {
                            position: absolute;
                            top: 0;
                            right: 0;
                        }

                        &:nth-child(3) {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }

                        &:nth-child(4) {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                        }
                    }
                }
            }
        }

        .slick-list {
            height: inherit;
        }

        .slick-slide > div {
            height: inherit;
        }

        .slick-slider {
            margin-bottom: 0px!important;
        }

        .slick-dots {
            position: relative!important;
            bottom: -40px!important;

            li {
                margin: 5px 8px!important;
                width: 40px!important;
                height: 40px!important;

                button:before {
                    content: '●'!important;
                }
            }

            .slick-active {
                img {
                    border: 2px solid @tertiary-color;
                }
            }

        }

        .slick-track {
            height: inherit!important;
        }
    }

    .editors-games-carousel {
        height: 35vw;

        .item {
            position: relative;

            .video-preview {
                object-fit: fill; 
            }

            .highlighted-table-text {
                position: absolute;
                top: 47%;
                left: 50%;
                transform: translate(-50%, -70%);
                text-align: center;

                .name {
                    position: initial;
                    width: 25vw;
                    height: 46px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                
                    > div {
                        color: #90d793;
                        font-weight: bold;
                    }
                }
    
                .genres {
                    color: white;
                    opacity: 0.8;
                    font-size: 0.8rem;
                }
    
                .platforms {
                    color: white;
                    opacity: 0.8;
                    font-size: 1.3rem;
                }

                .price-btn {
                    min-width: unset!important;
                    min-height: unset!important;
                    background-color: #4c6b22 !important;
                    color: white!important;
                    font-size: 0.7rem;
                    pointer-events: all;
                    
                    &.discounted {
                        height: 45px;
                        width: 110px;
                    }

                    .base-price {
                        position: absolute;
                        top: 6px;
                        right: 17px;
                        opacity: .5;
                        font-size: 10px;
                        text-decoration: line-through;
                    }

                    .price.discounted {
                        position: absolute;
                        bottom: 3px;
                        font-size: 13px;
                    }

                    &:hover {
                        background-color: #699230!important
                    }
                }

            }
        }

        .slick-list {
            height: inherit;
        }

        .slick-slide > div {
            height: inherit;
        }

        .slick-slider {
            margin-bottom: 0px!important;
        }

        .slick-dots {
            position: relative!important;
            bottom: 5px!important;

            li {
                margin: 5px 8px!important;
                width: 40px!important;
                height: 40px!important;
            }

            .slick-active {
                img {
                    border: 2px solid @tertiary-color;
                }
            }
        }

        .slick-track, img {
            height: inherit!important;
        }

    }

    .header .title {
        display: inline-block;

        &:hover {
            cursor: pointer;
        }
    }

    .grid-results {
        display: grid;
        grid-gap: 30px;

        &.horizontal {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            overflow: hidden;

            &.limit-two-rows {
                height: 490px;
            }

            & > div {
                width: 220px;
                height: 210px;
                margin: 15px 10px;
            }
        }

        &.small {
            & > div {
                width: 250px;
                height: 240px;
                margin: 10px 10px;
            }
        }

        .time-item {
            width: 230px;

            &:last-child {
                padding-bottom: 1em;
            }

            .MuiSlider-valueLabel {
                top: -18px!important;

                & > span {
                    width: max-content!important;
                    background-color: transparent!important;

                    > span {
                        color: rgba(@tertiary-color,1.0)!important;
                    }
                }
            }
            
            .time-item-text {
                width: 100%;

                .price-container {
                    position: relative;
                    padding-top: 15px;
                    padding-bottom: 3px;

                    .base-price {
                        position: absolute;
                        bottom: 21px;
                        left: 60px;
                        font-size: 12px;
                        opacity: .5;
                    }

                    .discount {
                        position: relative;
                        bottom: 7px;
                        font-size: .8em;
                        background-color: green;
                        border-radius: 5px;
                        padding-left: 5px;
                        padding-right: 5px;
                        color: rgba(255,255,255,0.8);
                    }

                    .text {
                        
                        &.with-discount {
                            margin-left: 10px;
                        }
                    }
                }

                .name {
                    font-size: 15px;
                    white-space: nowrap; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #90d793;
                }

                .platforms {
                    color: rgba(white, 0.7);
                    height: 1.4em;
                    font-size: 13px;
                }

                .genres {
                    color: #ffc55b;
                    font-size: 11px;
                }

                .time {
                    font-size: 14px;
                    color: white;
                }
            }

            img {
                width: 100%;
            }

            & > div {
                background: rgba(black, 0.2);
            }

        }

        .price-item {

            .stars-container {
                width: 180px;
            }

            img {
                height: 90px;
                box-shadow: 6px 6px;
            }

            .name {
                width: 90px;
                height: 18px;
                font-size: 13px;
                color: white;
                overflow: hidden;
            }

            .pricing {
                width: 180px;
                height: 25px;
                margin-top: 12px;

                .free-text {
                    font-size: 20px;
                    color: rgba(white, 0.85);
                }

                .original-price {
                    position: absolute;
                    bottom: 15px;
                    left: 0px;
                    font-size: 10px;
                    text-decoration: line-through;
                    color: rgba(white, 0.4);
                }

                .price {
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    font-size: 12px;
                    color: white
                }

                .discount {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    color: #90d794d8;
                    font-size: 19px;
                }
            }
        }

        &.games {
            grid-template-columns: auto auto auto auto;
            grid-auto-rows: minmax(125px, 25vh);
        }

        &.news {
            grid-template-columns: auto auto auto auto;
            grid-auto-rows: auto;

            &>div {
                background: rgba(white, 0.05);
                box-shadow: 2px 5px 6px 2px rgba(black, 0.15)!important;
            }

            img {
                min-height: 150px;
            }

            .title {
                position: relative;
                overflow: hidden;
                color: #90d794d8;
                font-size: .8em;
            }
        
            .author {
                color: hsla(0,0%,100%,.5);
                font-size: .6em;
                height: 1.4em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        
            .date {
                color: orange;
                font-size: .8em;
                text-align: right;
                overflow: hidden;
                height: 1.4em;
            }
        }

    }

    .hamburger {
        position: absolute;
        top: 0;
        left: 0;
        text-align: -webkit-right;
        opacity: 0.8;
        display: none;

        @media @lg {
            display: block;
        }

        .hamburger-container {
            position: relative;
            cursor: pointer;
            height: @games-hamburger-width;
            width: 35px;

            .hamburger__bar {
                position: relative;
                transform: translateY(12px);
            }
            .hamburger__bar, .hamburger__bar:before, .hamburger__bar:after {
                height: calc(6px);
                width: 35px;
                background-color: #fff;
            }
            .hamburger__bar:before, .hamburger__bar:after {
                content: '';
                left: 0;
                position: absolute;
            }
            div {
                transition: 0.4s ease;
            }
            div:before, div:after {
                transition: 0.4s ease;
            }
            div:before {
                transform: translateY(-11px);
            }
            div:after {
                transform: translateY(11px);
            }
            &.active div {
                background-color: transparent;
            }
            &.active div:before {
                transform: translateY(0) rotate(-45deg);
            }
            &.active div:after {
                transform: translateY(0) rotate(45deg);
            }
        }
          
    }

    .home, .xbox, .playstation, .switch, .ios, .android {
        
        .title {
            color: rgba(255,255,255,0.4);
        }
    }

    .filter {
        width: 0;
        color: rgba(white, 0.4);
        font-size: 0.8rem;
        width: @games-sidebar-content-width;

        * {
            outline: 0;
        }

        .title {
            font-size: 1.05rem;
            letter-spacing: 1px;
            line-height: 40px;
        }

        .searchbar {

            &.has-search .form-control {
                padding-left: 2.375rem;
            }
            
            &.has-search .form-control-feedback {
                position: absolute;
                z-index: 2;
                display: block;
                width: 2.375rem;
                height: 2.375rem;
                line-height: 2.375rem;
                text-align: center;
                pointer-events: none;
                color: @games-filter-color;

                > svg {
                    opacity: 0.4;
                    color: @games-filter-color;
                }
            }

            > input {
                border: 1px solid @games-filter-color!important;
                background-color: transparent;
                
                &, &::placeholder {
                    color: @games-filter-color!important;
                }

                &:focus {
                    box-shadow: none!important;
                }
            }

        }

        .options {

            .release-date {

                .divider {
                    width: 30px;
                }
            }

            .sorting {
                
                > div {
                    width: 100%;
                }
            }

            .refresh {
                height: 40px;
                line-height: 40px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                background-color: @games-filter-color;
                font-size: 1.1rem;

                &:hover {
                    background-color: rgba(@games-filter-color, 0.7);
                }
            }

            .disabled {
                opacity: 0.2;
            }
        }
    }

    .sidenav-content {
        position: fixed;
        bottom: 0px;
        left: @games-sidebar-width;
        width: @games-sidebar-content-width;
        height: calc(100% - @navbar-height);
        background-color: #232323;
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 1000;

        .option {

            &.selected {
                border-left: 3px solid;
                color: #39caeb !important;
            }

            .arrow {
                color: #424141;
            }
        }

        .home {

            .breaking-news {
                background-color: #de9310;
                width: 240px;
                overflow: hidden;
                max-height: 84px;
                transition: all 0.5s ease-out;
                opacity: 1;
                flex-wrap: initial!important;
                min-width: inherit!important;
                max-width: inherit!important;

                &.collapsed {
                    max-height: 0px;
                    opacity: 0;
                }

                &>div:last-child {
                    padding: 0px 0px 0px 8px!important;
                }
            }

            svg {
                width: 20px;
            }

            .option {
                font-size: 15px;
            }
        }
    }

    .sidenav {
        position: fixed;
        bottom: 0px;
        width: @games-sidebar-width;
        height: calc(100% - @navbar-height);
        background-color: @games-sidebar-color;

        > i.active {
            svg {
                color: rgba(@tertiary-color, 1.0);
            }
        }

        .home {
            position: absolute;
            top: 0px;
            left: 0px;
            font-size: 22px;
            width: 50px;
        }

        .search {
            position: absolute;
            top: 50px;
            left: 0px;
            font-size: 22px;
            width: 50px;
        }

        .discounted {
            position: absolute;
            top: 100px;
            left: 0px;
            font-size: 20px;
            width: 50px;
        }

        .xbox {
            position: absolute;
            top: 150px;
            left: 0px;
            font-size: 20px;
            width: 50px;
        }

        .playstation {
            position: absolute;
            top: 200px;
            left: 0px;
            font-size: 20px;
            width: 50px;
        }

        .switch {
            position: absolute;
            top: 250px;
            left: 0px;
            font-size: 20px;
            width: 50px;
        }

        .ios {
            position: absolute;
            top: 300px;
            left: 0px;
            font-size: 20px;
            width: 50px;
        }

        .android {
            position: absolute;
            top: 350px;
            left: 0px;
            font-size: 20px;
            width: 50px;
        }

        .news {
            position: absolute;
            top: 400px;
            left: 0px;
            font-size: 20px;
            width: 50px;
        }

        .cog {
            position: absolute;
            bottom: 0px;
            left: 0px;
            font-size: 22px;
            width: 50px;
        }

        i {
            padding: 2px 14px;
            margin-top: 13px;

            &.active {
                background-color: #232323;
            }
        }

    }

    .content {
        position: fixed;
        right: 0px;
        top: @navbar-height;
        width: calc(100% - @games-sidebar-width);
        height: calc(100% - 44px);
        overflow-y: scroll!important;

        &.expanded {
            width: calc(100% - @games-sidebar-width - @games-sidebar-content-width);
        }

        @media @md {
            visibility: visible;

            &.expanded {
                visibility: hidden;
            }
        }

        .horror-games-banner {
            
            .arrow-left {
                position: absolute;
                color: @tertiary-color;
                top: 50%;
                width: 20px;
                height: 45px;
                font-size: 30px;
                transform: translate(0,-50%);
                cursor: pointer;
                left: -32px;
            }

            .arrow-right {
                position: absolute;
                color: @tertiary-color;
                top: 50%;
                width: 20px;
                height: 45px;
                font-size: 30px;
                transform: translate(0,-50%);
                cursor: pointer;
                right: -32px;
            }

            .slick-slide {
                margin: 10px;

                & > div {
                    width: 375px!important;
                }
            }
        }

        .time-games {
            position: relative;
            height: 688px;
            width: calc(100% - 616px);
            color: rgba(@tertiary-color, 1.0);
            overflow: hidden;

            @media @xxl {
                width: 100%;
            }

            .show {
                position: absolute;
                right: 0px;
                top: 11px;
                font-size: 12px;
                color: @tertiary-color;
            }

            .underline {
                position: relative;
                height: 2px;
                background-color: rgb(41, 41, 41);
            }

            .time-games-grid {
                height: calc(100% - 50px);
                overflow-y: scroll;
                overflow-x: hidden;

                .grid-results {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;

                    & > div {
                        padding-top: 15px;
                    }
                }
            }

        }

        .ending-soon {
            width: 616px;
            text-align: -webkit-center;
            
            @media @xxl {
                width: 100%;
            }

            .spotlights {

                .spotlight {

                    .head, .foot {
                        position: relative;
                        height: 40px;
                        background: #292929;
                        color: @tertiary-color;

                        &.head .left {
                            font-size: 0.85em;
                        }

                        > div {
                            position: absolute;
                            margin: 0;
                            top: 50%;
                            -ms-transform: translateY(-50%);
                            transform: translateY(-50%);
                        }
                    }
    
                    .left {
                        left: 10px;
                        font-weight: bold;
    
                        &.name {
                            font-weight: normal;
                            color: #8dd290;
                            width: calc(100% - 20px);
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                }
                
            }

            .today-deals {
                max-width: 600px;

                .today-deals-header, .today-deals-footer {
                    position: relative;
                    height: 40px;
                    background: #292929;
                    color: @tertiary-color;
    
                    &.today-deals-footer {
                        padding: 20px;
                    }
    
                    .left {
                        left: 10px;
                        font-weight: bold;
    
                        &.name {
                            font-weight: normal;
                            color: #8dd290;
                        }
                    }
    
                    .right {
                        right: 10px;
    
                        .discount {
                            font-size: 0.8em;
                            background-color: green;
                            border-radius: 5px;
                            padding-left: 5px;
                            padding-right: 5px;
                            margin-right: 7px;
                            color: rgba(255, 255, 255, 0.8);
                        }
    
                        .base-price {
                            font-size: 0.7em;
                            font-style: italic;
                            opacity: 0.75;
                            text-decoration: line-through;
                            margin-right: 7px;
                        }
                    }
    
                    > div {
                        position: absolute;
                        margin: 0;
                        top: 50%;
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }
                }
    
                .arrow-left {
                    position: absolute;
                    color: @tertiary-color;
                    top: 50%;
                    width: 20px;
                    height: 45px;
                    font-size: 30px;
                    transform: translate(0,-50%);
                    cursor: pointer;
                    left: 12px;
                    z-index: 1000;
                }
    
                .arrow-right {
                    position: absolute;
                    color: @tertiary-color;
                    top: 50%;
                    width: 20px;
                    height: 45px;
                    font-size: 30px;
                    transform: translate(0,-50%);
                    cursor: pointer;
                    right: 12px;
                    z-index: 1000;
                }
    
                .slick-list {
                    height: auto!important;
                    z-index: 999;
    
                    .slick-slide {
                        text-align: center;
                    
                        img {
                            width: 100%!important;
                            height: auto!important;
                        }
                    }
                }
    
                .slick-dots {
                    z-index: 1000;
                }
            }
        }

        .steam-banner {
        
            .steam-banner-games {
                position: absolute;
                right: 0px;
                top: 50%;
                transform: translateY(-50%);
                height: 80%;
                margin-right: 75px;
                width: calc(100vw - 1000px);

                @media @lg {
                    visibility: hidden;
                }
            }

            img {
                float: right;
            }

            .filter-steamsales-gradient {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: calc(100vw - 1127px);
                background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, #59a89e 18%, #59a89e 100%);
                background: linear-gradient(to left, rgba(0,0,0,0) 0%, #59a89e 18%, #59a89e 100%);

                .description {
                    margin-top: 55px;
                    margin-right: 75px;
                    color: rgba(white, 0.9);
    
                    .more-button {
                        color: white;
                        border: 1px solid white;
                        box-shadow: 0px 1px 5px 0px rgba(255, 255, 255, 0.2), 0px 2px 2px 0px rgba(255, 255, 255, 0.14), 0px 3px 1px -2px rgba(255, 255, 255, 0.12);
                        
                        &:hover {
                            background-color: #ffffff1f;
                        }
                    }
                }

                @media @xl {
                    width: 100%;
                    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, #59a89e 0%, #59a89e 100%);
                    background: linear-gradient(to left, rgba(0,0,0,0) 0%, #59a89e 0%, #59a89e 100%);

                    .description {
                        margin-right: 0px;
                    }
                }
            }
        }

        
    }
}
