@games-searchbar-icon-size: 32px;
@games-sidebar-width: 50px;
@games-hamburger-width: 30px;
@games-filter-color: @tertiary-color;
@games-sidebar-content-width: 300px;
@games-sidebar-color: #111215;

.games-page {
    height: -webkit-fill-available;

    .editors-games-carousel {
        height: 35vw;

        .item {
            position: relative;

            .video-preview {
                object-fit: fill; 
            }

            .highlighted-table-text {
                position: absolute;
                top: 47%;
                left: 50%;
                transform: translate(-50%, -70%);
                text-align: center;

                .name {
                    position: initial;
                    width: 25vw;
                    height: 46px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                
                    > div {
                        color: #90d793;
                        font-weight: bold;
                    }
                }
    
                .genres {
                    color: white;
                    opacity: 0.8;
                    font-size: 0.8rem;
                }
    
                .platforms {
                    color: white;
                    opacity: 0.8;
                    font-size: 1.3rem;
                }

                .price-btn {
                    min-width: unset!important;
                    min-height: unset!important;
                    background-color: #4c6b22 !important;
                    color: white!important;
                    font-size: 0.7rem;
                    margin-bottom: 4px;
                    pointer-events: all;
                    
                    &:hover {
                        background-color: #699230!important
                    }
                }

            }
        }

        .slick-list {
            height: inherit;
        }

        .slick-slide > div {
            height: inherit;
        }

        .slick-slider {
            margin-bottom: 0px!important;
        }

        .slick-dots {
            position: relative!important;
            bottom: 5px!important;

            li {
                margin: 5px 8px!important;
                width: 40px!important;
                height: 40px!important;
            }

            .slick-active {
                img {
                    border: 2px solid @tertiary-color;
                }
            }
        }

        .slick-track, img {
            height: inherit!important;
        }

    }

    .header .title {
        display: inline-block;

        &:hover {
            cursor: pointer;
        }
    }

    .grid-results {
        display: grid;
        grid-gap: 17px;

        .time-item {

            .left-text {
                width: 190px;
                height: 120px;

                .name {
                    font-size: 17px;
                    white-space: nowrap; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: white;
                }

                .platform-icons {
                    color: rgba(white, 0.4);
                }

                .genres {
                    color: rgba(white, 0.75);
                    font-size: 13px;
                }
            }

            .right-text {
                position: relative;
                color: rgba(white,0.8);
                width: calc(100% - 190px - 105px);
                height: 120px;

                .time {
                    position: absolute;
                    top: 50%;
                    left: 70%;
                    transform: translate(-50%,-50%);
                }
            }

            img {
                height: 120px;
                box-shadow: -6px 6px rgba(black, 0.5);
            }

        }

        .price-item {

            img {
                height: 120px;
                box-shadow: 6px 6px;

                &.large {
                    height: 145px;
                }
            }

            .name {
                width: 90px;
                height: 18px;
                font-size: 13px;
                color: white;
                overflow: hidden;
            }

            .pricing {
                width: 90px;
                height: 25px;
                margin-top: 12px;

                .original-price {
                    position: absolute;
                    bottom: 15px;
                    left: 5px;
                    font-size: 10px;
                    text-decoration: line-through;
                    color: rgba(white, 0.4);
                }

                .price {
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    font-size: 12px;
                    color: white
                }

                .discount {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    color: #90d794d8;
                    font-size: 13px;
                }
            }
        }

        &.games {
            grid-template-columns: auto auto auto auto;
            grid-auto-rows: minmax(125px, 25vh);
        }

        &.featured-games {
            grid-template-columns: repeat(6, 1fr);
            grid-auto-rows: minmax(125px, 26vh);
        }

        &.genrebanner-games {
            grid-template-columns: auto auto;
            grid-auto-rows: 250px;
            grid-gap: 0px;
        }

        &.news {
            grid-template-columns: auto auto auto auto;
            grid-auto-rows: auto;

            &>div {
                background: transparent;
            }

            img {
                min-height: 150px;
            }

            .title {
                position: relative;
                overflow: hidden;
                color: #90d794d8;
                font-size: .8em;
            }
        
            .author {
                color: hsla(0,0%,100%,.5);
                font-size: .6em;
                height: 1.4em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        
            .date {
                color: orange;
                font-size: .8em;
                text-align: right;
                overflow: hidden;
                height: 1.4em;
            }
        }

        [class*="game"] {
            background-color: rgba(white,0.03);
            border-radius: 5px;
            overflow: visible;
    
            &.big-game {
                grid-row: span 2;
                grid-column: span 2;
    
                @media @md {
                    grid-row: span 1;
                    grid-column: span 1;
                }
            }

            .screenshot {
                
                div, img {
                    width: 100%;
                    height: calc(100% + 1px);
                }
            }

            .overlay {
                position: absolute;
                top: 0px;
                left: 0px;
                height: calc(100% + 1px);
                width: 100%;
                background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(255,255,255,.25) 100%);
                display: none;
                pointer-events: none;
            }

            .text-overlay {
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 100%;
                height: 75px;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0,0,0,0) 100%);
                pointer-events: none;
            }

            .highlighted-table-discount {
                position: absolute;
                top: 0;
                right: 0;
                color: white;
                background-color: forestgreen;
                opacity: 0.7;
                font-size: 15px;
            }

            .highlighted-table-text {
                position: absolute;
                bottom: 2px;
                left: 15px;
                width: calc(100% - 30px);
                pointer-events: none;

                .name {
                    position: initial;
                    width: 100%;
                    height: 20px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                
                    &.large {
                        height: 30px;
                    }
                    
                    > div {
                        color: #90d793;
                        font-weight: bold;
                    }
                }
    
                .genre {
                    font-size: 0.9em;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                    &.large {
                        font-size: 1.2em;
                    }
                }
    
                .genres {
                    font-size: 0.8rem;
                }

                .platforms {
                    font-size: 1.3rem;
                }

                * {
                    color: rgba(white, 0.8);
                }
            }

            .price-container {
                position: absolute;
                top: 0;
                right: 0;
                color: white;
                background-color: #4c6b22b3;
                width: 110px;
                height: 24px;

                .discount {
                    position: absolute;
                    top: 0;
                    height: 100%;
                    font-size: 17px;
                    background: #516b2d;
                    color: rgba(white, 0.7);
                }

                .base-price {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    opacity: 0.75;
                    font-size: 7px;

                    del {
                        opacity: 0.8;
                        vertical-align: text-top;
                    }
                }

                .final-price {
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    opacity: 0.7;
                    font-size: 8px;
                }

                .text {
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    font-size: 9px;
                }

                &.no-price {
                    width: auto;
                    height: auto;
                    background: none;

                    .text {
                        position: relative;
                        font-size: 11px;
                        color: rgba(0,0,0,0.7);
                        font-weight: 800;   
                        text-transform: uppercase;
                    }
                }

                &.no-discount {
                    width: 77px;
                    height: 18px;
                    background: #4c6b22;
                    opacity: 0.8;

                    &.large {
                        width: 105px;
                        height: 22px;  
                    }
                    
                    .text {
                        position: absolute;
                        top: 0;
                        left: 0;
                        line-height: 18px;
                        font-size: 12px;
                        color: white;
                        
                        &.large {
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                }
            }

            .filter {
                position: absolute; 
                top: 0;
                left: 0;
                height: calc(100% + 1px);
                width: 100%;
                background: radial-gradient(ellipse at center, rgba(0,0,0,0.7) 0%, transparent 50%);
                pointer-events: none;
            }

            .banner {
                position: absolute;
                top: -7px;
                right: -16px;
                width: 93px;
            }

            .banner-text {
                position: absolute;
                top: 8px;
                right: 1px;
                font-size: 10px;
                font-weight: 900;
                text-transform: uppercase;
                transform: rotate(43deg);

                &.long-text {
                    top: 9px;
                    right: -9px;
                    font-size: 8px;
                }
            }
            
            .editor-banner {
                position: absolute;
                top: -14px;
                left: -29px;
                width: 150px;
            }

            .editor-banner-text {
                position: absolute;
                top: 18px;
                left: -8px;
                font-size: 8px;
                font-weight: bold;
                text-transform: uppercase;
                transform: rotate(-43deg);
            }

        }

    }

    .hamburger {
        position: absolute;
        top: 0;
        left: 0;
        text-align: -webkit-right;
        opacity: 0.8;
        display: none;

        @media @lg {
            display: block;
        }

        .hamburger-container {
            position: relative;
            cursor: pointer;
            height: @games-hamburger-width;
            width: 35px;

            .hamburger__bar {
                position: relative;
                transform: translateY(12px);
            }
            .hamburger__bar, .hamburger__bar:before, .hamburger__bar:after {
                height: calc(6px);
                width: 35px;
                background-color: #fff;
            }
            .hamburger__bar:before, .hamburger__bar:after {
                content: '';
                left: 0;
                position: absolute;
            }
            div {
                transition: 0.4s ease;
            }
            div:before, div:after {
                transition: 0.4s ease;
            }
            div:before {
                transform: translateY(-11px);
            }
            div:after {
                transform: translateY(11px);
            }
            &.active div {
                background-color: transparent;
            }
            &.active div:before {
                transform: translateY(0) rotate(-45deg);
            }
            &.active div:after {
                transform: translateY(0) rotate(45deg);
            }
        }
          
    }

    .home, .xbox, .playstation, .switch, .ios, .android {
        
        .title {
            color: rgba(255,255,255,0.4);
        }
    }

    .filter {
        width: 0;
        color: rgba(white, 0.4);
        font-size: 0.8rem;
        width: @games-sidebar-content-width;

        * {
            outline: 0;
        }

        .title {
            font-size: 1.05rem;
            letter-spacing: 1px;
            line-height: 40px;
        }

        .searchbar {

            &.has-search .form-control {
                padding-left: 2.375rem;
            }
            
            &.has-search .form-control-feedback {
                position: absolute;
                z-index: 2;
                display: block;
                width: 2.375rem;
                height: 2.375rem;
                line-height: 2.375rem;
                text-align: center;
                pointer-events: none;
                color: @games-filter-color;

                > svg {
                    opacity: 0.4;
                    color: @games-filter-color;
                }
            }

            > input {
                border: 1px solid @games-filter-color!important;
                background-color: transparent;
                
                &, &::placeholder {
                    color: @games-filter-color!important;
                }

                &:focus {
                    box-shadow: none!important;
                }
            }

        }

        .options {

            .release-date {

                .divider {
                    width: 30px;
                }
            }

            .sorting {
                
                > div {
                    width: 100%;
                }
            }

            .refresh {
                height: 40px;
                line-height: 40px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                background-color: @games-filter-color;
                font-size: 1.1rem;

                &:hover {
                    background-color: rgba(@games-filter-color, 0.7);
                }
            }

            .disabled {
                opacity: 0.2;
            }
        }
    }

    .sidenav-content {
        position: fixed;
        bottom: 0px;
        left: @games-sidebar-width;
        width: @games-sidebar-content-width;
        height: calc(100% - @navbar-height);
        background-color: #232323;
        overflow-y: scroll;
        overflow-x: hidden;

        .option {

            &.selected {
                background: linear-gradient(to right, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
            }

            .arrow {
                color: #424141;
            }
        }

        .home {

            .breaking-news {
                background-color: #de9310;
                width: 240px;
                overflow: hidden;
                max-height: 84px;
                transition: all 0.5s ease-out;
                opacity: 1;
                flex-wrap: initial!important;
                min-width: inherit!important;
                max-width: inherit!important;

                &.collapsed {
                    max-height: 0px;
                    opacity: 0;
                }

                &>div:last-child {
                    padding: 0px 0px 0px 8px!important;
                }
            }

            svg {
                width: 20px;
            }
        }
    }

    .sidenav {
        position: fixed;
        bottom: 0px;
        width: @games-sidebar-width;
        height: calc(100% - @navbar-height);
        background-color: @games-sidebar-color;

        .home {
            position: absolute;
            top: 0px;
            left: 0px;
            font-size: 22px;
            width: 50px;
        }

        .search {
            position: absolute;
            top: 50px;
            left: 0px;
            font-size: 22px;
            width: 50px;
        }

        .discounted {
            position: absolute;
            top: 100px;
            left: 0px;
            font-size: 20px;
            width: 50px;
        }

        .xbox {
            position: absolute;
            top: 150px;
            left: 0px;
            font-size: 20px;
            width: 50px;
        }

        .playstation {
            position: absolute;
            top: 200px;
            left: 0px;
            font-size: 20px;
            width: 50px;
        }

        .switch {
            position: absolute;
            top: 250px;
            left: 0px;
            font-size: 20px;
            width: 50px;
        }

        .ios {
            position: absolute;
            top: 300px;
            left: 0px;
            font-size: 20px;
            width: 50px;
        }

        .android {
            position: absolute;
            top: 350px;
            left: 0px;
            font-size: 20px;
            width: 50px;
        }

        .news {
            position: absolute;
            top: 400px;
            left: 0px;
            font-size: 20px;
            width: 50px;
        }

        .cog {
            position: absolute;
            bottom: 0px;
            left: 0px;
            font-size: 22px;
            width: 50px;
        }

        i {
            padding: 2px 14px;
            margin-top: 13px;

            &.active {
                background-color: #232323;
            }
        }

    }

    .content {
        position: absolute;
        right: 0px;
        top: @navbar-height;
        width: calc(100% - @games-sidebar-width);
        height: calc(100% - 44px);
        overflow-y: scroll!important;

        &.expanded {
            width: calc(100% - @games-sidebar-width - @games-sidebar-content-width);
        }

        @media @md {
            visibility: visible;

            &.expanded {
                visibility: hidden;
            }
        }

        .time-games {
            position: relative;
            height: 700px;
            width: calc(100% - 350px);
            color: @tertiary-color;
            overflow: hidden;

            .upcoming {
                position: absolute;
                left: 0px;
                top: 5px;
            }

            .recent {
                position: absolute;
                left: 92px;
                top: 5px;
            }

            .early {
                position: absolute;
                left: 160px;
                top: 5px;
            }

            .show {
                position: absolute;
                right: 0px;
                top: 11px;
                font-size: 12px;
            }

            .underline {
                position: absolute;
                top: 30px;
                left: 0px;
                height: 2px;
                background-color: rgba(@tertiary-color, 0.5);
            }

            .underline-slider {
                position: absolute;
                top: 30px;
                height: 2px;
                background-color: @tertiary-color;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
                transition: all 1s ease;

                &.upcoming {
                    left: 0px;
                    width: 72px;
                }

                &.recent {
                    left: 92px;
                    width: 52px;
                }

                &.early {
                    left: 160px;
                    width: 93px;
                }

            }

            .time-games-grid {
                margin-top: 50px;
                height: calc(100% - 50px);
                overflow-y: scroll;
                overflow-x: hidden;
            }

        }

        .genre-banner {
            position: relative;
            height: 700px;
            width: 300px;
            margin-left: 50px;
            
            .title-one {
                position: absolute;
                top: 40px;
                left: 0;
                font-size: 26px;
                color: white;
            }

            .title-two {
                position: absolute;
                top: 76px;
                left: 0;
                font-size: 19px;
                color: white;
            }

            .filter-genre {
                height: calc(100% - 200px);
                background-color: #343534;
            }

            .filter-genre-gradient {
                position: absolute;
                top: 125px;
                height: 100px;
                background: -moz-linear-gradient(bottom, rgba(0,0,0,0) 0%, #343534 54%, #343534 55%, #343534 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(bottom, rgba(0,0,0,0) 0%,#343534 54%,#343534 55%,#343534 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,#343534 54%,#343534 55%,#343534 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            }

            .genre-banner-games {
                position: absolute;
                top: 200px;
                height: 500px;
            }
        }

        .steam-banner {
        
            .steam-banner-games {
                position: absolute;
                right: 0px;
                top: 50%;
                transform: translateY(-50%);
                height: 80%;
                margin-right: 75px;
                width: calc(100vw - 1000px);

                @media @lg {
                    visibility: hidden;
                }
            }

            .description {
                position: absolute;
                left: 50px;
                top: 50%;
                transform: translateY(-50%);
                color: rgba(white, 0.9);

                @media @lg {
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                }
            }

            img {
                @media @lg {
                    width: 100%;
                    height: 240px;
                }
            }

            .filter-steamsales {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 48px;
                width: calc(100vw - 945px);
                background-color: #397448;

                &.expanded {
                    width: calc(100vw - 645px);
                }

                @media @lg {
                    visibility: hidden;
                }

            }

            .filter-steamsales-gradient {
                position: absolute;
                top: 0;
                bottom: 0;
                right: calc(100vw - 945px);
                width: 100px;
                background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, #397448 54%, #397448 55%, #397448 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,#397448 54%,#397448 55%,#397448 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, rgba(0,0,0,0) 0%,#397448 54%,#397448 55%,#397448 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            
                &.expanded {
                    right: calc(100vw - 645px);
                }

                @media @lg {
                    visibility: hidden;
                }

            }
        }

        .news-article {

            .title {
                position: relative;
                overflow: hidden;
                color: #90d794d8;
                font-size: .8em;
            }
        
            .author {
                color: hsla(0,0%,100%,.5);
                font-size: .6em;
                height: 1.4em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        
            .date {
                color: orange;
                font-size: .8em;
                text-align: right;
                overflow: hidden;
                height: 1.4em;
            }
        
            > div {
                background-color: rgba(white,0.05)
            }
        
            img {
                max-height: 165px;
                max-width: 100%;
            }
        
            * {
                color: white;
            }
        }
    }
}
