.login-spinner {
    position: absolute;
    width: 100%;
    color: whitesmoke;
    opacity: 0.7;
    text-align: center;

    &.middle {
        top: 40%;
    }

    &.margin-top {
        margin-top: 100px!important;
    }

    .login-spinner-circle {
        color: lightblue;
    }

    .login-spinner-message {
        margin-top: 15px;
        font-size: 1.5em;
    }

}