.brand-navbar {
    border-bottom: 1px solid rgba(@primary-color, 0.2);
    z-index: 1;

    .logo {
        display: initial;
    
        @media @xl {
            display: none;
        }
    }
    
    .logo-name {
        font-family: 'Pacifico'!important;
        vertical-align: -webkit-baseline-middle;
    }
    
    .brand-menu {
        position: relative;
        top: 7px;

        @media @sm {
            i {
                display: none;
            }
        }

        @media @lg {
            top: 1px;
        }

        a {
            color: @primary-color;   
        }

        @media @md {
            width: 100%;
    
            > li {
                width: 25%;
            }
        }
    }
    
    .search-form {
        display: initial;
        color: @primary-color;

        .searchbar {
            transition: all .3s ease-in;
            -webkit-transition: all .3s ease-in;

            &.has-search .form-control {
                padding-left: 2.375rem;
            }
            
            &.has-search .form-control-feedback {
                position: absolute;
                z-index: 2;
                display: block;
                width: 2.375rem;
                height: 2.375rem;
                line-height: 2.375rem;
                text-align: center;
                pointer-events: none;
                color: @primary-color;

                > svg {
                    opacity: 0.4;
                }
            }

            > input {
                border-radius: 8px;
                border: none;
                background-color: rgba(0, 0, 0, 0.08)
            }

            &:focus {
                transition: all .3s ease-in;
                -webkit-transition: all .3s ease-in;

                > input {
                    background-color: rgba(0, 0, 0, 0.12)
                }

                svg {
                    opacity: 0.8;
                }
            }
        }

        > input {
            border: 1px solid @primary-color;
        }

        .icon { 

            div, img {
                width: 35px;
                height: 35px;
            }
        }

        @media @lg {
            display: none;
        }
    }
}