.brand-navbar {
    border-bottom: 1px solid rgba(@primary-color, 0.2);
    z-index: 1;

    .logo {
        display: initial;
    
        @media @xl {
            display: none;
        }
    }
    
    .logo-name {
        font-family: 'Pacifico'!important;
        color: white;
    }
    
    .brand-menu {
        position: relative;
        top: 10px;

        @media @sm {
            i {
                display: none;
            }
        }

        @media @lg {
            top: 0px;
        }

        a {
            color: white;   
        }

        @media @md {
            width: 100%;
    
            > li {
                width: 25%;
            }
        }
    }
    
    .search-form {
        display: initial;
        color: @primary-color;

        > input {
            border: 1px solid @primary-color;
        }

        @media @lg {
            display: none;
        }
    }
}