@login-background-col1: #2137a7;
@login-background-col2: #38caeb;
@login-floats-rot-origin-size: 20px;
@login-floats-min-duration: 30s;
@login-floats-max-duration: 40s;
@login-floats-min-delay: 0s;
@login-floats-max-delay: 10s;
@login-floats-min-size: 1em;
@login-floats-max-size: 3em;
@login-floats-rot: 600deg;
@login-floats-opacity: 0.3;
@login-floats-quantity: 10;
@login-floats-pos-y: -100px;
@login-floats-dist: -950px;
@login-floats: "\f108", "\f0d0", "\f3ed", "\f11c", "\f091", "\f11b";

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
  background-color: rgba(43, 65, 156, 0.24);
  background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), linear-gradient(30deg, #dedede 12%, transparent 12.5%, transparent 87%, #dedede 87.5%, #dedede), linear-gradient(150deg, #dedede 12%, transparent 12.5%, transparent 87%, #dedede 87.5%, #dedede), linear-gradient(30deg, #dedede 12%, transparent 12.5%, transparent 87%, #dedede 87.5%, #dedede), linear-gradient(150deg, #dedede 12%, transparent 12.5%, transparent 87%, #dedede 87.5%, #dedede), linear-gradient(60deg, white 25%, transparent 25.5%, transparent 75%, white 75%, white), linear-gradient(60deg, white 25%, transparent 25.5%, transparent 75%, white 75%, white);
  background-size: 40px 70px;
  background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;
}