@message-box-height: 50px;
@navbar-height: 55px;
@userlist-large-height: 60px;
@userlist-extralarge-height: 300px;

.chatroom {
    height: calc(100vh - @navbar-height);

    @media @lg {
        height: calc(100vh - 41px);
    }

    .topbar {
        padding: .05rem 1rem!important;
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2)!important;

        i {
            width: 50px;
            font-size: 1.4rem;
            opacity: 0.5;

            &.active{
                opacity: 1;
            }

            > svg {
                vertical-align: middle;
            }
        }

        .nav {
            color: rgba(white, 0.6);
        }

        .title {
            height: 30px;
            width: calc(100% - 400px);
            color: rgba(white, 0.6);

            @media @md {
                width: calc(100% - 175px);
            }
        }

        .searchbar {

            @media @md {
                display: none;
            }

            &.has-search .form-control {
                padding-left: 2.375rem;
                background-color: rgba(white, 0.1);
                border: none;
                color: rgba(white, 0.6);

                &:focus {
                    box-shadow: none;
                }
            }
            
            &.has-search .form-control-feedback {
                position: absolute;
                width: 2.375rem;
                text-align: center;
                color: rgba(white, 0.6);

                > svg {
                    opacity: 0.7;
                }
            }

            input {
                width: 200px;

                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
    
    .content {
        height: calc(100% - 62px);

        > div {
            background: transparent;
        }

        .chatroom-messages {
            height: calc(100% - @message-box-height);

            .chatroom-messages-container {
                overflow-x: hidden;

                .message {
                    cursor: default!important;
                    user-select: auto!important;

                    .attachment {
                        max-width: 25%;
                        min-width: 125px;
                    }

                    .avatar {
                        background-color: rgba(white, 0.9);
                    }

                    .name {
                        color: rgba(white, 0.9);
                    }

                    .time {
                        color: rgba(white,0.4);
                        font-size: 0.65em;
                    }

                    .text {
                        margin: 0;
                        font-size: 0.875rem;
                        font-weight: 400;
                        line-height: 1.46429em;

                        > span {
                            color: rgba(white, 0.6);
                        } 
                    }
                }

                li {
                    color: rgba(white,0.4);
                    font-size: 1.0rem;
                }
            }
        }
        
        .chatroom-messagebox {
            height: @message-box-height;
            box-shadow: 0px -3px 2px 0px rgba(0,0,0,0.15);

            .attachment-icon {
                color: rgba(white, 0.6);
                width: 60px;

                i {
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .messagefield {
                width: calc(100% - 60px);
                
                > div {
                    height: 100%;

                    &::before {
                        border-bottom: 1px solid rgba(white, 0.6)!important;
                    }

                    &::after {
                        border-bottom: 2px solid rgba(white, 0.6)!important;
                    }
                }

                * {
                    color: rgba(white, 0.6);
                }
            }
        }

        .emotes-view {

            > div {
                background-color: rgba(white,.8);
            }
            
            .create-container {

                .image-container {
                    position: relative;
                    width: 40px;
                    height: 40px;
                    margin: 0 auto;
                    background-color: rgba(black,0.15);
                    box-shadow: 3px 4px rgba(0,0,0, 0.2);
                    
                    .image {
                        position: absolute!important;
                        background-color: rgba(white,0.1)!important;
                        border-radius: 0!important;
                        box-shadow: none!important;
                    }

                    .image-overlay {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        display: inline-flex;

                        > i {
                            color: rgba(white, 0.6);
                            margin: auto auto auto 2px;
                        }
                    }

                    .image-hidden-input {
                        position: absolute!important;
                        height: inherit!important;
                        width: inherit!important;
                        padding: 40px 0 0;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }

                .emote-input {
                    p {
                        font-size: 1rem!important;
                    }
                }

                .create-btn {
                    background-color: @primary-color;
                    height: 45px;
                }
            }

            .emotes-container {
                display: flex;
                flex-wrap: wrap;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                flex-flow: row wrap;
                -webkit-flex-flow: row wrap;
                justify-content: space-around;
                text-align: center;
            }

            strong {
                color: @primary-color;
            }
        }

        .serverlist {
            width: 70px;
            background-color: rgba(white,0.03);

            @media @md {
                width: 40px;
            }

            .server {
                transition: all .3s ease-in;
                -webkit-transition: all .3s ease-in;

                > img {
                    width: 50%;
                    transition: all .3s ease-in;
                    -webkit-transition: all .3s ease-in;
                }

                &.active {
                    border-left: 3px solid rgba(white, 0.6);
                }
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .middlenav {
            width: calc(100% - 70px);

            &.expanded {
                width: calc(100% - 70px - @userlist-extralarge-height);
            }

            @media @md {
                width: calc(100% - 40px);

                &.expanded {
                    width: calc(100% - 40px - @userlist-large-height);
                }
            }

            .chatroom-userlist {
    
                .noresults {
                    color: rgba(white,0.6);
                    font-size: 1.5em;
                }
    
                .userlist {
    
                    .user {
                        background-color: rgba(white,0.1);
                        color: rgba(white,0.6);
    
                        .user-text { 
    
                            .time {
                                color: #fbab1a;
                            }
                        }
    
                        .user-image {
                            flex: none!important;

                            &.default {
                                background-color: rgba(white,0.8);
                            }
                        }
    
                        .user-links {
    
                            @media @md {
                                display: none
                            }
    
                            i {
                                color: rgba(white,0.6);
    
                                @media @lg {
                                    font-size: 0.7em;
                                }
                            }
                        }
                    }
                    
                }
            }
        }

        .chatroom-users {
            width: 0px;
            background-color: rgba(white,0.04);

            &.expanded {
                width: @userlist-extralarge-height;

                @media @md {
                    width: @userlist-large-height;
                }
            }

            .user {
                
                .user-image {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    position: relative;
                    overflow: hidden;
                    font-size: 1.25rem;
                    align-items: center;
                    flex-shrink: 0;
                    user-select: none;
                    border-radius: 50%;
                    justify-content: center;
                    margin-left: 10px;

                    img {
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        object-fit: cover;
                    }

                    &.default {
                        background-color: rgba(white,0.8);
                    }

                    @media @md {
                        margin: auto!important;
                    }
                
                    .user-indicator {
                        position: absolute;
                        bottom: 0px;
                        left: 25px;
                        width: 11px;
                        height: 11px;
                        border-radius: 10px;
        
                        &.green {
                            background-color: rgba(0, 255, 0, 0.8);
                        }
        
                        &.yellow {
                            background-color: rgba(255, 255, 0, 0.8);
                        }
        
                        &.red {
                            background-color: rgba(255, 37, 37, 0.8);
                        }
                    }
                }

                .user-text {
                    height: 40px;

                    @media @md {
                        display: none;
                    }
                    
                    .name {
                        position: relative;
                        color: rgba(white, 0.6);
                        overflow: hidden;
                        font-weight: 700;
                        height: 60%;
                    }
    
                    .time {
                        position: absolute;
                        width: calc(100% - 1.5rem);
                        bottom: 0;
                        color: #fbab1a;
                        overflow: hidden;
                        font-size: 0.5em;
                    }
                }

                &:hover {
                    background-color: transparent!important;
                }
            }

            .empty-container {

                .empty {
                    color: rgba(white, 0.6);

                    i {
                        font-size: 2em;

                        @media @sm {
                            font-size: 1em;
                        }
                    }

                    .text {
                        @media @sm {
                            display: none;
                        }
                    }
                }
            }

            .translucent-hr {
                background-color: rgba(white, 0.4);
                opacity: 0.15;
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }

    }
}