@home-profiles-height: 230px;
@home-popular-height: 230px;

.home {

    .banner {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .highlighted-table {

        .highlighted-header {
            color: @tertiary-color;
            font-size: 1.15rem;

            &::before {
                position: absolute;
                bottom: -3px;
                left: 0;
                content: "";
                height: 2px;
                width: 53px;
                background-color: rgba(241,196,15,0.6);
            }
        }
    
        .highlighted-games {
            display: grid;
            grid-gap: 15px;
            grid-template-columns: auto auto auto auto;
            grid-auto-rows: auto;
            height: calc(100% - 30px);

            @media @lg {
                grid-template-columns: auto auto auto;
            }

            @media @sm {
                grid-template-columns: auto auto;
            }

            .game {

                &.feature {
                    grid-row: span 2;
                    grid-column: span 2;
                }
    
                .cover-overlay-yellow {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: calc(100% + 2px);
                    background: linear-gradient(45deg,rgba(241,196,15,.3),rgba(0,0,0,.15));
    
                    &.active {
                        background: linear-gradient(45deg,rgba(241,196,15,.55),rgba(0,0,0,.15));
                    }
                }
    
                .cover-overlay-green {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: calc(100% + 2px);
                    background: linear-gradient(45deg, rgba(16,175,101,0.3), rgba(0,0,0,0.15));
    
                    &.active {
                        background: linear-gradient(45deg, rgba(16,175,101,0.55), rgba(0,0,0,0.15))
                    }
                }
    
                .text-overlay {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 75px;
                    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0,0,0,0) 100%);
                }

                .highlighted-table-discount {
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: white;
                    background-color: forestgreen;
                    opacity: 0.7;
                    font-size: 15px;
                }
    
                .highlighted-table-text {
                    position: absolute;
                    bottom: 2px;
                    left: 15px;
                    width: calc(100% - 30px);
        
                    .name {
                        position: initial;
                        width: 100%;
                        height: 25px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    
                        > div {
                            color: #90d794;
                            font-weight: bold;
                        }
        
                        &::before {
                            position: absolute;
                            bottom: 23px;
                            left: 0;
                            content: "";
                            height: 2px;
                            width: 25px;
                            background-color: rgba(247, 157, 0, 0.75);
                        }
                    }

                    .genre {
                        font-size: 0.9em;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    * {
                        color: rgba(white, 0.8);
                    }
                }

                .price-container {
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: white;
                    background-color: rgba(black, 0.5);
                    width: 100px;
                    height: 22px;
    
                    .discount {
                        color: rgba(white, 0.6);
                        background-color: rgba(green, 0.5);
                    }
    
                    .original-price {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        opacity: 0.5;
                        font-size: 7px;
    
                        del {
                            vertical-align: text-top;
                        }
                    }
    
                    .final-price {
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        opacity: 0.7;
                        font-size: 8px;
                    }
    
                    &.no-discount {
                        width: auto;
                        height: auto;
                        background: linear-gradient(to left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0) 100%);
    
                        .final-price {
                            position: relative;
                            opacity: 0.85;
                            font-size: 11px;
                        }
                    }
                }

            }
            
        }
    }

    .recently-released-table, .upcoming-table {
        padding: 10px;

        @media @sm {
            height: auto;
        }

        .recently-released-table-header, .upcoming-table-header {
            color: @tertiary-color;
            cursor: pointer;
            font-size: 0.93rem;

            &::before {
                position: absolute;
                bottom: -3px;
                left: 0;
                content: "";
                height: 2px;
                width: 53px;
                background-color: rgba(241, 196, 15, 0.6);   
            }
        }
    }

    .profiles-table {
        height: @home-profiles-height;

        .profiles-header {
            color: @tertiary-color;
            cursor: pointer;

            &::before {
                position: absolute;
                top: 34px;
                content: "";
                height: 2px;
                width: 53px;
                background-color: rgba(red, 0.6);
            }
        }

        .profiles-buttons {
            height: calc(192px - 24px - 0.5rem);

            > button {
                height: calc(((100% - .5rem) / 3) + 5px);
                background-color: rgba(@secondary-color,0.1);

                &:hover {
                    background-color: rgba(@secondary-color,0.2);
                }
            }
        }
    }

    .popular-table {
        height: @home-popular-height;

        .popular-table-header {
            color: @tertiary-color;
            cursor: pointer;

            &::before {
                position: absolute;
                top: 34px;
                left: 1rem;
                content: "";
                height: 2px;
                width: 53px;
                background-color: rgba(gray, 0.6);
            }

            @media @lg {
                left: 0rem;
            }
        }

    }

    .news-list-container {
        position: relative;

        .news-list-header {
            color: @tertiary-color;
            cursor: pointer;

            &::before {
                position: absolute;
                top: 32px;
                content: "";
                height: 2px;
                width: 28px;
                background-color: rgba(brown, 0.6);
            }
        }
    }
}

/**
    SHARED
*/
.news-article {

    .title {
        position: relative;
        overflow: hidden;
        color: #90d794d8;
        font-size: .8em;
    }

    .author {
        color: hsla(0,0%,100%,.5);
        font-size: .6em;
        height: 1.4em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .date {
        color: orange;
        font-size: .8em;
        text-align: right;
        overflow: hidden;
        height: 1.4em;
    }

    > div {
        background-color: rgba(white,0.05)
    }

    img {
        max-height: 165px;
    }

    * {
        color: white;
    }
}


.table-horizontal {

    .scroll-horizontal {
        position: relative;
        height: calc(222px - 32px);
        width: auto;
        overflow: hidden;
        white-space: nowrap;
        transition: all .4s ease-in-out;

        .table-container {
            width: auto;
            height: 100%;

            &.popular {
                width: 100px;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: calc(100% + 1px);
                height: 100%; 
                background: linear-gradient(to top, rgba(black, 1) 0%, rgba(black, 0.0) 70%, rgba(black, 0) 0%);
            }
            
            .name {
                color: #90d794;
                font-size: 9px;
                line-height: 10px;
                padding-top: 3px;
                height: 24px;
                white-space: pre-line;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .name-overlay {
                position: absolute;
                bottom: 25px;
                display: block;
                color: #90d794;
                font-size: .8em;
                max-height: 2.6em;
                line-height: 1rem;
                width: calc(100% - 20px);
                margin: 0 10px;
                word-wrap: break-word;
                white-space: pre-line;
                overflow: hidden;
            }

            .genre {
                padding-top: 2px;
                padding-left: 15px;
                font-size: 9px;
                line-height: 15px;
                height: 20px;
                color: rgba(white, 0.7);
                overflow: hidden;
                text-overflow: clip;
                white-space: normal;
            }

            .rating {
                font-size: 12px;
                padding-right: 15px;
                color: orange;
                text-align: right;
            }

            img {
                pointer-events: none;
            }

            .icons {
                position: absolute;
                bottom: 0;
                width: calc(100% - 20px);
                margin: 0 10px;
                overflow: hidden;

                .icon {
                    opacity: 0.6;
                    color: @secondary-color;
                }
            }

            .date {
                position: absolute;
                top: 5px;
                right: 0;
                background-color: rgba(@primary-color, 0.85);
                color: @tertiary-color;
                font-weight: bold;
                font-size: .75em;
                padding: 2px 0px;
            }

            * {
                outline:none;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                    -ms-user-select: none;
                        user-select: none;
            }
        }
    }

    .table-arrow {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        height: 43px;

        > i {
            color: @tertiary-color;
        }

        svg {
            background-color: rgba(black,0.8);
            padding: 5px;
            height: 43px;
            width: 30px;
        }

        &.left {
            left: 20px;
        }

        &.right {
            right: 20px;
        }
    }

    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: transparent;
    }
}