html, body {
    position: relative;
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    font-family: source_sans_proregular, Arial, serif;
}

@import 'util/main';
@import 'popupS/main';
@import 'spinner/main';

@import 'account/main';
@import 'background/main';
@import 'notfound/main';
@import 'notice/main';
@import 'navbar/main';
@import 'menu/main';