@primary-color: #171a21;
@secondary-color: white;
@tertiary-color: #39caeb;
@primary-highlighted-color: #2b2c2f;
@tertiary-highlighted-color: #373b40;
@primary-font: "Motiva Sans", Sans-serif;
@secondary-font: Pacifico;
@sm: ~"screen and (max-width:576px)";
@md: ~"screen and (max-width:768px)";
@lg: ~"screen and (max-width:992px)";
@xl: ~"screen and (max-width:1200px)";

html, body, #root {
    background-color: #292929;
    overflow-x: hidden;

    * {
        font-family: @primary-font;
    }
}

@import 'util/main';

@import 'crossfade/main';
@import 'game/main';
@import 'gaming/main';
@import 'results/main';
@import 'games/main';
@import 'recovery/main';
@import 'account/main';
@import 'chatroom/main';
@import 'home/main';
@import 'navbar/main';
@import 'spinner/main';
@import 'popupS/main';
@import 'bootstrap/main';