html, body, #root {
    position: relative;
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    font-family: source_sans_proregular, Arial, serif;
}

.inherit {
    height: inherit;
}

.center {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

@import 'util/main';
@import 'popupS/main';
@import 'spinner/main';

@import 'account/main';
@import 'background/main';
@import 'notfound/main';
@import 'notice/main';
@import 'navbar/main';
@import 'menu/main';
@import 'chatroom/main';