@menu-item-height: 150px;

.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.menu {
    position: fixed;
    width: 100%;
    height: calc(~"100% -" @navbar-item-height);
    top: @navbar-item-height;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    .menu-scrolling {
        position: absolute;
        height: auto;
        width: inherit;

        > img {
            width: 100%;
            display: block;
            opacity: 0.9;
        }
    
        .menu-home-header {
            position: absolute;
            width: 100%;
            height: 12%;
            top: 0px;
        }
    
        .menu-home-searchgames {
            position: inherit;
            width: inherit;
            height: 10%;
            top: 12%;
        }
    
        .menu-home-recentgames {
            position: inherit;
            width: inherit;
            height: 9%;
            top: 22%;
        }
    
        .menu-home-upcominggames {
            position: inherit;
            width: inherit;
            height: 8%;
            top: 31%;
        }
    
        .menu-home-populargames {
            position: inherit;
            width: inherit;
            height: 10%;
            top: 39%;
        }
    
        .menu-home-uptodate {
            position: inherit;
            width: inherit;
            height: 8%;
            top: 49%;
        }
    
        .menu-home-discover {
            position: inherit;
            width: inherit;
            height: 10%;
            top: 57%;
        }
    
        .menu-home-review {
            position: inherit;
            width: inherit;
            height: 10%;
            top: 67%;
        }
    
        .menu-home-chatroom {
            position: inherit;
            width: inherit;
            height: 10%;
            top: 77%;
        }
    
        .menu-home-chatroomlinks {
            position: inherit;
            width: inherit;
            height: 13%;
            top: 87%;
        }
    }
    
    .menu-item {
        position: relative;
        height: @menu-item-height;
        width: 100%;
        text-align: center;
        color: whitesmoke;
        opacity: 0.5;
    }

    .menu-item-overlay {
        position: absolute;
        z-index: 2000;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 85%, rgba(0,0,0,0) 87%, rgba(0,0,0,0.31) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 85%,rgba(0,0,0,0) 87%,rgba(0,0,0,0.31) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 85%,rgba(0,0,0,0) 87%,rgba(0,0,0,0.31) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4f000000',GradientType=0 ); /* IE6-9 */
    }

    .menu-item-content {
        position: absolute;
        z-index: 10;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        > p {
            margin-top: 10px;
            font-size: 1.1em;
            font-weight: bold;
        }
    }

    .menu-item-text {
        position: absolute;
        z-index: 10;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5em;
    }

    .menu-center {
        position: absolute;
        z-index: 10;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menu-grid-center {
        position: relative;
        z-index: 10;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1em;
    }

    .menu-choose-game {
        opacity: 0.7;
        color: whitesmoke;

        .menu-choose-game-arrow {
            position: absolute;
            text-align: center;
            margin-top: 30px;
            width: 100%;
        }

        .menu-choose-game-text {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2.2em;
            text-align: center;
        }

    }

    .menu-game-thumbnail-icons {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        margin: 0 5px;
    }

    .menu-game-thumbnail {
        background-color: rgba(0,0,0,0.7) !important;
        margin-bottom: 20px;
        
        img {
            opacity: 0.8;
        }

        * {
            color: rgba(255,255,255,0.7) !important;
        }

    }

    .menu-game {
        position: relative;
        overflow: auto;
        background-color: rgba(0,0,0,0.2) !important;

        * {
            color: rgba(255,255,255,0.9);
        }

        .menu-game-cover-container {
            position: relative;
            background-color: rgba(0,0,0,0.5);

            .menu-game-cover-overlay {

                .menu-game-cover {
                    position: relative;
                    opacity: 0.5;
                }

            }

            .menu-game-cover-overlay:after {
                content:'\A';
                position:absolute;
                width:100%; height:150px;
                bottom:0; 
                left:0;
                
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+74,000000+99&0+41,0.65+74,0.65+100 */
                background: -moz-linear-gradient(top, rgba(0,0,0,0) 41%, rgba(0,0,0,0.65) 74%, rgba(0,0,0,0.65) 99%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(0,0,0,0) 41%,rgba(0,0,0,0.65) 74%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(0,0,0,0) 41%,rgba(0,0,0,0.65) 74%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
            }

            .menu-game-rating-stars {
                position: absolute;
                bottom: 20px;
                left: 0;
                margin: 10px;

                .active {
                    opacity: 0.85;
                }

                .inactive {
                    opacity: 0.5;
                }
            }

            .menu-game-rating-count {
                position: absolute;
                bottom: 3px;
                left: 0;
                margin: 0 10px;
                color: rgba(255,255,255,0.7);
            }

            .menu-game-price {
                position: absolute;
                right: 0;
                margin: 0 10px;
                color: rgba(255,255,255,0.7);
                
                .menu-game-price-header {
                    display: inline;
                    color: rgba(255,255,255,0.7);
                }

                .menu-game-price-icon {
                    display: inline;
                    margin-left: 10px;
                    color: rgba(255,255,255,0.7);
                }

            }

            .menu-game-name {
                position: absolute;
                right: 0;
                margin: 0 10px;
                font-weight: 750;
                font-size: 1.2em;
                color: whitesmoke;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: calc(~"100% - 155px");
                color: rgba(255,255,255,0.7);
            }

            .level-one {
                bottom: 3px;
            }

            .level-two {
                bottom: 30px;
            }

        }

        .menu-game-cover:after {
            content:'\A';
            position:absolute;
            width:100%; height:80px;
            bottom:0; 
            left:0;
        }

        .line-divider {
            border-color: rgba(255,255,255,0.35);
            width: calc(~"100% - 40px");
        }

        .menu-game-summary {
            font-size: 1.2em;
            opacity: 0.65;
            margin: 20px;

            .menu-game-summary-header {
                font-weight: bold;
            }

            .menu-game-summary-text {
                margin: 5px 0 0 0;

                > i {
                    color: rgba(0,0,0,0.8);
                }
            }
        }

        .menu-game-releasedate {
            opacity: 0.65;
            margin: 20px;
            
            .menu-game-releasedate-header {
                display: block;
                font-weight: bold;
            }

            > i {
                display: block;
                text-indent: 1em;
            }

        }

        .menu-game-genres {
            opacity: 0.65;
            margin: 20px;
            
            .menu-game-genres-name {
                margin-bottom: 5px !important;
                background-color: rgba(255, 255, 255, 0.7) !important;

                > button {
                    background-color: transparent !important;
                }
            }

            .menu-game-genres-header {
                display: block;
                margin-bottom: 15px;
                font-weight: bold;
            }
        }

        .menu-game-platforms {
            opacity: 0.65;
            margin: 20px;
            
            .menu-game-platforms-header {
                margin-bottom: 15px;
                font-weight: bold;
            }

            ul {
                padding-left: 25px !important;

                li {
                    margin-bottom: 8px;
                    list-style-type: none;
    
                    .menu-game-platforms-name-container {
                        display: inline-block;
                        width: 60%;
                        overflow: hidden;
                    
                        .menu-game-platforms-name {
                            float: left;
                            background-color: rgba(255, 255, 255, 0.7) !important;

                            > button {
                                background-color: transparent !important;
                            }

                            span {
                                font-size: 0.78em !important;
                            }
                        }
                    }
    
                    .menu-game-platforms-releasedate {
                        float: right;
                    }
                }
            }
            
        }

        .menu-game-media {
            position: relative;

            .menu-game-media-header {
                opacity: 0.65;
                margin-left: 20px;
                margin-bottom: 20px;
                font-weight: bold;
            }

            .menu-game-media-feed {
                max-width: calc(~"100% - 40px");
                margin: auto !important;
            }
        }

        .menu-game-reviews {
            position: relative;
            font-size: 1.2em;

            .menu-game-reviews-header {
                opacity: 0.65;
                margin-left: 20px;
                font-weight: bold;
            }

            .menu-game-reviews-btn {
                position: relative;
                width: 90%;
                margin: 0 5% 15px 5%;
                background-color: rgba(255,255,255,0.25)!important;
    
                > button {
                    background-color: transparent !important;
                    height: 50px !important;
    
                    div > div {

                        > i {
                            margin-left: 5px;
                        }

                        > span {
                            color: rgba(0, 0, 0, 0.55) !important;
                            font-size: 1.2em !important;
                        }
                    }
                }
            }

            .menu-game-reviews-padding {
                padding: 20px;

                .menu-game-reviews-container {
                    position: relative;
                    margin-bottom: 15px;

                    .border {
                        border: 1px whitesmoke solid;
                    }

                    .menu-game-review-header-container {
                        position: relative;
                        width: 100%;
                        height: 2em;
                        background-color: rgba(255,255,255,0.25);
    
                        .menu-game-review-header {
                            position: relative;
                            padding: 0px 15px 15px 15px;
    
                            > div {
    
                                .icon-hoursplayed {
                                    margin-right: 7px;
                                }
    
                                .icon-upvotes {
                                    margin-left: 7px;
                                }
                            }
    
                            .border-bottom {
                                position: absolute;
                                top: 39px;
                                left: 0;
                                border-bottom: 1px solid rgba(255,255,255,0.5);
                                width: 100%;
                            }
    
                            .menu-game-review-header-hoursplayed {
                                position: absolute;
                                top: 0;
                                left: 0;
                                margin: 10px;
                            }
    
                            .menu-game-review-header-upvotes {
                                position: absolute;
                                top: 0;
                                right: 0;
                                margin: 10px;
                            }
                        }
                    }

                    .menu-game-review-body-container {
                        position: relative;
                        width: 100%;
                        box-sizing: border-box;
                        padding: 10px;
                    }

                }
                
            }

        }        

        .menu-game-upcoming-name {
            position: absolute;
            left: 0%;
            top: 5%;
            width: 100%;
            font-size: 2em; 
            opacity: 0.8;
            text-align: center
        }

    }

    .menu-game:last-child {
        margin-bottom: 0px;
    }

    .menu-game-table-header {
        color: whitesmoke;
        text-align: center;
        padding: 15px;
        font-size: 1.7em;
        background: rgba(0,0,0,0.3);

        strong {
            opacity: 0.8;
            color: rgba(255,255,255,0.8);
        }
    }

    .menu-game-table {
        
        width: 100%;
        height: 100%;

        .menu-game-table-game {
            height: 200px;
        }
    }
}

.searchbar {
    > div {
        background: rgba(0,0,0,0.4);
        border-color: whitesmoke !important;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 2px solid whitesmoke;
    }

    * {
        color: whitesmoke !important;
    }

    .Select-menu-outer .Select-option {
        background: rgba(0,0,0,0.4) !important;
    }
}

.Select-control {
    background: rgba(0,0,0,0.2) !important;
}